.profile__info {
    /* grid-row: span 2;  */
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    align-self: center;
    gap: 16px;
}
@media screen and (max-width: 730px) {
    .profile__info {
        margin-top: 22.25px;
        justify-self: center;
        gap: 14px 10px;
    } 
    }