.profile__paragraph {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}
@media screen and (max-width: 730px) {
    .profile__paragraph {
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
        grid-column: span 2;
        max-width: 282px;
    } 
    }
