@media screen and (max-width: 730px) {
    .popup__content_type_add-photo {
        width: calc(100% - 40px*2);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: start;
    }
}