.popup__title_type_info-tool-tip {
    margin-top: 32px;
    margin-bottom: 0px;
    width: 358px;
    text-align: center;
}
@media screen and (max-width: 730px) {
    .popup__title_type_info-tool-tip {
        font-size: 20px;
        line-height: 24px;
        width: 244px;
        margin-top: 40px;
    }
}
