.header__exit {
    color: #A9A9A9;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
.header__exit:hover {
    opacity: 0.6;
}