.element__like {
    background: url('../../../images/like.svg');
    width: 20.76px;
    height: 18.13px;
    border-style: none;
    justify-self: end;
    margin-right: 22.24px;
    align-self: center;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.element__like:hover {
    opacity: 0.6;
}