@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__registration/header__registration.css);

@import url(./blocks/profile/profile.css);

@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);

@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__paragraph/profile__paragraph.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__position/element__position.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-number/element__like-number.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__number/element__number.css);
@import url(./blocks/element/__like/_pressed/element__like_pressed.css);
@import url(./blocks/element/__basket/element__basket.css);
@import url(./blocks/element/__basket/_hidden/element__basket_hidden.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content/_type/popup__content_type_add-photo.css);
@import url(./blocks/popup/__content-photo/popup__content-photo.css);

@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__form_type_edit-profile.css);
@import url(./blocks/popup/__form/_type/popup__form_type_add-photo.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_place.css);
@import url(./blocks/popup/__title/_type/popup__title_type_deleteСard.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_type/popup__close_type_close-photo.css);
@import url(./blocks/popup/__close/_type/popup__close_type_close-big-foto.css);
@import url(./blocks/popup/__close/_type/popup__close_type_close-avatar.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-label/popup__input-label.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_title.css);
@import url(./blocks/popup/__input/_type/popup__input_type_place.css);
@import url(./blocks/popup/__input/_type/popup__input_type_photo.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__save/_type/popup__save_type_deleteСard.css);
@import url(./blocks/popup/__save/_type/popup__save_type_photo.css);
@import url(./blocks/popup/__save/_type/popup__save_type_edit.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/sign-up/sign-up.css);
@import url(./blocks/sign-up/__content/sign-up__content.css);
@import url(./blocks/sign-up/__title/sign-up__title.css);
@import url(./blocks/sign-up/__form/sign-up__form.css);
@import url(./blocks/sign-up/__input/sign-up__input.css);
@import url(./blocks/sign-up/__input/_type/sign-up__input_type_email.css);
@import url(./blocks/sign-up/__input/_type/sign-up__input_type_error.css);
@import url(./blocks/sign-up/__input/_type/sign-up__input_type_password.css);
@import url(./blocks/sign-up/__input-label/sign-up__input-label.css);
@import url(./blocks/sign-up/__input-error/sign-up__input-error.css);
@import url(./blocks/sign-up/__save/sign-up__save.css);
@import url(./blocks/sign-up/__already-registered/sign-up__already-registered.css);
@import url(./blocks/sign-up/__login/sign-up__login.css);

@import url(./blocks/login/login.css);
@import url(./blocks/login/__content/login__content.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__input/_type/login__input_type_email.css);
@import url(./blocks/login/__input/_type/login__input_type_error.css);
@import url(./blocks/login/__input/_type/login__input_type_password.css);
@import url(./blocks/login/__input-label/login__input-label.css);
@import url(./blocks/login/__input-error/login__input-error.css);
@import url(./blocks/login/__save/login__save.css);
